.main-header {
  text-size-adjust: 100%;
  padding: 40px 60px;
  display: flex;
  justify-content: space-between;
  min-width: 300px;
  border: 0;
  margin: 0;
  position: relative;
  background-color: #ffffff;
  padding: 1.2rem 0;
}

.header1 {
  display: flex;
  background-color: #141c3a;
  width: 8px;
  /* border-left: 1px solid #e6ecf8; */
  text-size-adjust: 100%;
  min-width: 300px;
  text-rendering: optimizeLegibility;
  background-color: #ffffff;
  vertical-align: baseline;
  padding: 0;
  border: 0;
  margin: 0 auto;
  position: relative;
  flex-grow: 1;
  max-width: 1152px;
  align-items: stretch;
  width: 100%;
}

.header2 {
  margin-left: -0.75rem;
  align-items: stretch;
  display: flex;
  flex-shrink: 0;
  min-height: 3.25rem;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  box-sizing: inherit;
}

.header3 {
  background-color: transparent;
  cursor: pointer;
  align-items: center;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  color: #141c3a;
  line-height: 1.5;
  padding: 0.5rem 0.75rem;
  position: relative;
  font-weight: 400;
  text-decoration: none;
  margin: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  box-sizing: inherit;
  /* -webkit-transition: all 0.2s ease-in-out; */
}

.navbar-menu {
  margin-right: -0.75rem;
  padding: 0.5rem 0;
  text-align: center;
  flex-grow: 1;
  flex-shrink: 0;
  align-items: stretch;
  display: flex;
  /* display: none; */
}

.navbar-start {
  justify-content: flex-start;
  margin-right: 405.156px;
  align-items: stretch;
  display: flex;
}

.navbar-end {
  justify-content: flex-end;
  margin-left: 405.156px;
  align-items: stretch;
  display: flex;
}

.navbar-item {
  font-size: 18px;
  color: #141c3a;
  cursor: pointer;
  font-weight: 400;
  align-items: center;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  line-height: 1.5;
  padding: 0.5rem 0.75rem;
  position: relative;
  text-decoration: none;
  font-family: "europa", sans-serif;
}

.navbar-item:hover {
  color: #6e07f3;
  font-family: "europa", sans-serif;
}

.navbar-item1 {
  font-size: 18px;
  padding: 12px;
  background-color: transparent;
  color: #6e07f3;
  border-radius: 9999px;
  font-family: "europa", sans-serif;
  cursor: pointer;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  border-color: #6e07f3;
  /* background-color: #6e07f3; */
  /* font-weight: 400; */
  /* -webkit-transition: all 0.2s ease-in-out; */
  /* border-width: 2px; */
  /* border: 10px solid #6e07f3; */
  /* white-space: nowrap; */
}

.navbar-item1:hover {
  color: white;
  background-color: #6e07f3;
  border-color: #6e07f3;
  font-family: "europa", sans-serif;
  border-style: unset;
  /* border: 10px solid #6e07f3; */
}

. a:link {
  /* color: black; */
  text-decoration: none;
}

.container {
  background-color: #ffffff;
  color: #0a0a0a;
  padding-top: 2rem;
  text-align: center;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* margin: 60px; */
}

.title {
  padding: 48px 48px;
  /* margin: 0 auto; */
}

.title2 {
  margin: 0 12px;
  position: relative;
}

.title3 {
  margin-top: -0.75rem;
  margin-bottom: -0.75rem;
  margin-right: -0.75rem;
  margin-left: -0.75rem;
}

.title4 {
  padding: 12px 12px 12px 12px;
}

.title5 {
  color: #141c3a;
  font-family: "eurostile", sans-serif;
  font-size: 3rem;
  font-weight: 600;
  word-break: break-word;
  margin-bottom: 24px;
  /* text-align: center; */
  /* box-sizing: inherit; */
  /* background-color: #141c3a; */
  /* line-height: 1.125; */
}

.title6 {
  color: rgba(10, 10, 10, 0.9);
  font-size: 1.5rem;
  font-family: "eurostile", sans-serif;
  font-family: "eurostile", sans-serif;
  margin-bottom: 24px;
  /* text-align: center; */
  /* text-size-adjust: 100%; */
  /* vertical-align: baseline; */
  /* font: inherit; */
}

.image {
  margin-top: 32px;
  margin-bottom: 32px;
  /* padding-left: 458.665px; */
  /* text-align: center; */
  /* float: right; */
}

.image2-set {
  /* margin-bottom: -0.45rem; */
}

.image2 {
  /* margin: 0 0px; */
  margin-top: 58px;
  margin-bottom: -52px;
  max-width: 860px;
  height: auto;
}

.section-Matt {
  background-color: #6e07f3;
  padding: 80px 72px 288px 72px;
  text-align: center;
  flex: none;
  line-height: 1.5;
  /* padding-top: 144px;
  padding-bottom: 288px;
  padding-left: 72px;
  padding-right: 72px; */
}

.matt {
  /* padding: 0; */
  /* width: 66%; */
}

.matt-1 {
  color: white;
  font-size: 2rem;
  font-family: "europa", sans-serif;
  vertical-align: baseline;
}

.matt-2 {
  color: white;
  font-family: "europa", sans-serif;
  vertical-align: baseline;
  font-size: 20px;
  width: 66%;
  padding-left: 170px;
  line-height: 33px;
  /* font: inherit; */
  /* vertical-align: baseline; */
  /* text-size-adjust: 100%; */
  /* box-sizing: border-box; */
  /* font-weight: 400; */
  /* box-sizing: inherit; */

  /* min-width: 300px; */
  /* overflow-x: hidden; */
  /* overflow-y: scroll; */
  /* position: relative; */
}

.section {
  margin-top: -14rem;
  padding-top: 80px;
  padding-bottom: 16px;
  padding-left: 24px;
  padding-right: 24px;
  padding: 5rem 1.5rem;
  text-align: center;
  display: block;
}

.container-2 {
  max-width: 1200px;
  flex-grow: 1;
  margin-left: 12px;
  margin-right: 12px;
  position: relative;
  width: auto;
  /* box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #e6ecf8; */
  color: #141c3a;
  display: block;
}

.box {
  padding: 0;
  border-radius: 12px;
  background-color: #ffffff;
  box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #e6ecf8;
  color: #141c3a;
  display: block;
  padding-top: 10px;
}

.columns-centered {
  margin-left: 0;
  margin-right: 0;
  display: flex;
  justify-content: center;
  margin-bottom: -0.75rem;
  margin-top: -0.75rem;
}

.column {
  padding: 70px 45px;
  border-bottom: 0px solid #e6ecf8;
  border-right: 1px solid #e6ecf8;
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
}

.img-1-set {
  bottom: 0;
  left: 0;
  margin-right: 80px;
  /* position: absolute; */
  /* right: 0; */
  /* top: 0; */
  /* z-index: var(--fa-stack-z-index, auto); */
}

.fa-stack {
  display: inline-block;
  vertical-align: middle;
  height: 2em;
  position: relative;
  width: 2.5em;
  font-size: 2em;
  font-style: inherit;
  font-weight: inherit;
}

.designer {
  margin-top: 1em;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  word-break: break-word;
  font-family: "eurostile", sans-serif;
  font-weight: 800;
  color: #141c3a;
}

.list-title1 {
  margin-top: 50px;
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: 400;
  color: #6e07f3;
  font-family: "eurostile", sans-serif;
}

.list1 {
  font-size: 18px;
  margin-bottom: 27px;
  margin-top: 2px;
  padding: 0;
  font-family: "eurostile", sans-serif;
}

.tools-title {
  font-size: 18px;
  margin-bottom: 2em;
  margin-top: 50px;
  margin-bottom: 8px;
  line-height: 1.5;
  font-weight: 400;
  color: #6e07f3;
  padding: 0;
  font-family: "eurostile", sans-serif;
  /* margin: 0; */
}

.tools {
  list-style: none;
  margin-left: 0;
  margin-top: 0;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  box-sizing: inherit;
  font-family: "eurostile", sans-serif;
  line-height: 2;
  /* font-size: 100%; */
}

.section-project {
  font-family: "eurostile", sans-serif;
  padding: 9rem 4.5rem;
  text-align: center;
  display: block;
}

.container-nerrow {
  max-width: 1200px;
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  width: auto;
}

.tile-recent {
  margin: 0;
  padding: 0;
  font: inherit;
  vertical-align: baseline;
  margin-bottom: 1.5rem;
  color: #141c3a;
  font-weight: 800;
  font-size: 2rem;
  line-height: 1.125;
  word-break: break-word;
  /* font-family: "eurostile", sans-serif; */
}

.tile-recent-2 {
  margin: 0;
  padding: 0;
  margin-bottom: 1.5rem;
  font-family: "europa", sans-serif;
  line-height: 1.5;
  font-size: 1.25rem;
  color: #141c3a;
  font-weight: 400;
  word-break: break-word;
}

.email {
  font-weight: 400;
  color: #1a8cff;
  cursor: pointer;
  text-decoration: none;
}

.project-grid {
  /* padding-top: 4rem; */
  padding: 4rem 0 4rem;
  margin: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  margin: -41px;
  /* padding: 0; */
  /* font-size: 100%; */
}

.columns-multiline {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -0.75rem;
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  margin-top: -0.75rem;
}

.columns-multiline-mobile {
  flex: none;
  width: 38.3333%;
  display: block;
  padding: 0.75rem;
  width: 351px;
  /* margin-right: -49px; */
}

.image-3by2 {
  position: relative;
  border-radius: 30px;
  display: block;
  margin-right: 32px;
  /* padding-top: 66.6666%; */
  /* overflow: hidden; */
}

.project-thumb {
  width: 360px;
  overflow-clip-margin: content-box;
  overflow: clip;
  border-radius: 15px;
  /* border-radius: 15px; */
}

.figcaption {
  /* opacity: 1; */
  padding: 0rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  height: 98%;
  /* width: 100%; */
  width: 359px;
  opacity: 0;

  /* color: #ffffff; */
  /* transition: 0.45s ease-in-out; */
  /* padding: 0rem 3rem; */
}

.figcaption:hover {
  opacity: 1;
  transition: 0.45s ease-in-out;
  background-color: #141c3a;
  border-radius: 15px;

  /* height: 100%; */
  /* width: 100%; */
  /* left: 0; */
  /* top: 0; */
  /* position: absolute; */
  /* z-index: 1; */
  /* color: #ffffff; */
  /* justify-content: center; */
  /* flex-direction: column; */
  /* padding: 0rem 3rem; */
  /* display: flex; */
  /* opacity: 0; */
  /* padding: 0rem 0rem; */
}

.title-on-screen1 {
  color: #ffffff;
  margin-bottom: 1.8rem;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.125;
  word-break: break-word;
  font-family: "eurostile", sans-serif;
  margin: 0;
  /* padding: 0; */
  padding-bottom: 25px;
}

/* .button-primary {
  margin: 0 auto;
  font-size: 18px;
  padding: 1.2rem;
  font-weight: 400;
  border-width: 2px;
  color: #ffffff;
  background-color: transparent;
  border-color: #6e07f3;
  border-radius: 9999px;
  font-family: "europa", sans-serif;
  -webkit-transition: all 0.2s ease-in-out;
  cursor: pointer;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
  user-select: none;

  position: relative;
  vertical-align: top;
  line-height: 1.5;
  height: 2.5em;
  box-shadow: none;
  display: inline-flex;
  -webkit-appearance: none;
  align-items: center;
  border: 1px solid transparent;
} */

.visit-web {
  cursor: pointer;
  font-size: 18px;
  padding: 0.75rem;
  border-radius: 9999px;
  color: #ffffff;
  background-color: transparent;
  border-color: #6e07f3;
  font-family: "europa", sans-serif;
  justify-content: center;
  text-align: center;
  font-weight: 400;
  /* border-width: 2px; */
  /* margin: 0 auto;
  /* white-space: nowrap; */
  /* -webkit-transition: all 0.2s ease-in-out; */
  /* user-select: none; */

  /* position: relative; */
  /* vertical-align: top; */
  /* line-height: 1.5; */
  /* height: 2.5em; */
  /* box-shadow: none; */
  /* display: inline-flex; */
  /* -webkit-appearance: none; */
  /* align-items: center; */
  /* border: 1px solid transparent; */
}

.visit-web:hover {
  color: white;
  background-color: #6e07f3;
  border-color: #6e07f3;
  font-family: "europa", sans-serif;

  border-style: unset;
  padding: 0.75rem;
}

.overlay {
  background-color: #141c3a;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.45s ease-in-out;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  /* font-size: 100%; */
}

.overlay:hover {
  box-sizing: inherit;
}

/* .icon {
  color: red;
  margin-top: 4px;
  margin-left: 0px;
  margin-right: calc(-0.5em - 1px);
  height: 1.5em;
  width: 1.5em;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  font-style: inherit;
  font-weight: inherit;
} */

.button-test {
  color: #6e07f3;
  border-color: #6e07f3;
  font-size: 21px;
  padding: 13px 35px 13px 54px;
  cursor: pointer;
  position: absolute;
  bottom: -54px;
  right: 388px;
  font-family: "europa", sans-serif;
  border-radius: 28px;
  background-color: transparent;
}

.button-test:hover {
  background-color: #6e07f3;
  color: #ffffff;
  border-style: unset;
}

.svg-inline {
  height: 24px;
  width: 24px;
  cursor: pointer;
  position: absolute;
  left: 20px;
  /* right: 30px; */
  /* padding: 13px 35px 13px 35px; */
  /* bottom: -54px; */
  /* font-family: "europa", sans-serif; */
  /* border-radius: 28px; */
  /* background-color: transparent; */
  /* font-size: 21px; */
}

.section-clients {
  margin: 0;
  border: 0;
  padding: 9rem 4.5rem;
  border-top: 1px solid #e6ecf8;
  font: inherit;
  vertical-align: baseline;
  /* display: block; */
}

.section-clients {
  box-sizing: inherit;
  unicode-bidi: isolate;
}

.container-clients {
  max-width: 1200px;
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  width: auto;
  text-align: center;
}

.columns-centered-clients {
  display: flex;
  justify-content: center;
  /* margin-bottom: calc(1.5rem - 0.75rem); */
  margin-left: -12px;
  margin-right: -12px;
  margin-top: -12px;
  margin-bottom: 12px;
}

.column-half {
  flex: none;
  width: 50%;
  display: block;
  padding: 0.75rem;
}

.title-clients {
  margin: 0;
  padding: 0;
  color: #141c3a;
  font-weight: 800;
  font-size: 28px;
  line-height: 1.125;
  word-break: break-word;
  font-family: "eurostile", sans-serif;
}

.client-grid {
  padding-top: 54px;
  /* margin: 0; */
  /* padding: 0; */
  border: 0;
  font: inherit;
  vertical-align: baseline;
  box-sizing: inherit;
}

.columns-mobile-client {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -0.75rem;
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  margin-top: -0.75rem;
}

.columns-half-mobile {
  flex: none;
  width: 25%;
  display: block;
  /* padding: 0.75rem; */
}

.image-2x1 {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
}

.client-logo {
  display: block;
  height: auto;
  width: 100%;
  max-width: 100%;
}

.section-startup-project {
  padding-bottom: 14rem;
  background-color: #6e07f3;
  color: white;
  padding: 9rem 4.5rem;
  text-align: center;
  display: block;
}

/* start */

.section-startup-project-box {
  padding-bottom: 9rem;
  margin-top: -14rem;
  padding: 5rem 1.5rem;
  text-align: center;
  display: block;

  margin: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;

  font-size: 18px;
  margin-bottom: 2rem;
}

.startup-container {
  max-width: 1200px;
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  width: auto;
}

.startup-grid {
  margin-bottom: 6rem;
}

.startup-columns-multiline-level {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -0.75rem;
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  margin-top: -0.75rem;
  align-items: center;
  justify-content: space-between;
}

.column-box-startup {
  flex-grow: 1;
  flex: none;
  width: 33.3333%;
  display: block;
  align-items: center;
  justify-content: center;
}

.box-startup {
  padding: 60px 35px;
  border-radius: 12px;
  background-color: #ffffff;
  box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #e6ecf8;
  color: #141c3a;
  display: block;
}

.startup-logo {
  height: 36px;
  width: auto;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 1.5rem;
  max-width: 100%;
}

.link {
  font-weight: 400;
  font-size: 18px;
  border: none;
  color: #1a8cff;
  cursor: pointer;
  text-decoration: none;

  -webkit-transition: all 0.2s ease-in-out;
}

.tag-link-startup {
  background-color: #ebf5ff;
  color: #0068d1;
  font-size: 1rem;

  align-items: center;
  /* background-color: whitesmoke; */
  border-radius: 4px;
  /* color: #141c3a; */
  display: inline-flex;
  /* font-size: 0.75rem; */
  height: 2em;
  justify-content: center;
  line-height: 1.5;
  padding-left: 0.75em;
  padding-right: 0.75em;
  white-space: nowrap;

  font-style: inherit;
  font-weight: inherit;
}

.i-link {
}

.tag-link-startup-danger {
  background-color: #feecf0;
  color: #cc0f35;
  font-size: 1rem;
}

.tag-link-startup-danger:hover {
  align-items: center;
  /* background-color: whitesmoke; */
  border-radius: 4px;
  /* color: #141c3a; */
  display: inline-flex;
  /* font-size: 0.75rem; */
  height: 2em;
  justify-content: center;
  line-height: 1.5;
  padding-left: 0.75em;
  padding-right: 0.75em;
  white-space: nowrap;

  font-style: inherit;
  font-weight: inherit;
}

.i-link-circle {
}

.tag-link-startup-danger-success {
  background-color: #edfdf7;
  color: #11825c;
  font-size: 1rem;
}

.tag-link-startup-danger-success:hover {
  align-items: center;
  /* background-color: whitesmoke; */
  border-radius: 4px;
  /* color: #141c3a; */
  display: inline-flex;
  /* font-size: 0.75rem; */
  height: 2em;
  justify-content: center;
  line-height: 1.5;
  padding-left: 0.75em;
  padding-right: 0.75em;
  white-space: nowrap;

  font-style: inherit;
  font-weight: inherit;
}

.i-link-handshake {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.callout {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.columns-centered-collout {
  display: flex;
  justify-content: center;
  margin-bottom: -0.75rem;
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  margin-top: -0.75rem;
}

.column-callout {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0.75rem;
  font: inherit;
  vertical-align: baseline;
}

.title-spaced-callout {
  font-size: 26px;
  margin-bottom: 1.5rem;
  color: #141c3a;
  font-weight: 700px;
  line-height: 1.125;
  word-break: break-word;
  font-family: "eurostile", sans-serif;
}

.subtitle-callout {
  margin-bottom: 1.5rem;
  font-family: "europa", sans-serif;
  line-height: 1.5;
  font-size: 1.25rem;
  color: #141c3a;
  word-break: break-word;
}

.button-callout {
  background-color: transparent;
  border-color: #6e07f3;
  color: #6e07f3;
  padding: 1.25em 2em;
  border-width: 2px;
  margin-top: 2rem;
  border-radius: 9999px;
  font-size: 1.25rem;
  -webkit-transition: all 0.2s ease-in-out;
  cursor: pointer;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
  user-select: none;

  position: relative;
  vertical-align: top;

  line-height: 1.5;
  height: 2.5em;
  display: inline-flex;
  box-shadow: none;

  -webkit-appearance: none;
  align-items: center;
  border: 1px solid transparent;
}

.icon-callout {
  margin-left: calc(-0.5em - 1px);
  margin-right: 0.25em;
  height: 1.5em;
  width: 1.5em;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  font-style: inherit;
  font-weight: inherit;
}
